<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Cambio de contraseña</title>

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

	<!-- No está cargando correctamente las hojas de estilo -->
	<link rel="stylesheet" href="./public/animate.css" type="text/css">
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" href="./public/estilo_ejs.css" type="text/css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>


	<div class="container">
		<div class="top">
			<h1 id="title" class="hidden"><span id="logo">Apuntes: <span>SYTW</span></span></h1>
		</div>
		<div class="login-box animated fadeInUp">
			<div class="box-header">
				<h2>Cambio de contraseña</h2>
			</div>
			<form action="/login/password" method="post">
			<label for="Username:">Username</label>
			<br/>
			<input type="text" id="username" name="username">
			<!--<label>Username:</label>-->
			<br/>
      		<!--<input type="text" name="username" />-->
			<br/>
			<label for="Password:">Nueva contraseña</label>
			<br/>
			<input type="password" id="password" name="password_new">
			<br/>
			<label for="Password:">Repita nueva contraseña</label>
			<br/>
			<input type="password" id="password" name="password_new_2">
			<!--<label>Password:</label>-->
    		<!--<input type="password" name="password" />-->
			<br/>
			<button type="submit">Guardar e ir al login</button>
			<br/>
			</form>
		</div>
		
	</div>
	
	</body>

<script>
	$(document).ready(function () {
    	$('#logo').addClass('animated fadeInDown');
    	$("input:text:visible:first").focus();
	});
	$('#username').focus(function() {
		$('label[for="username"]').addClass('selected');
	});
	$('#username').blur(function() {
		$('label[for="username"]').removeClass('selected');
	});
	$('#password').focus(function() {
		$('label[for="password"]').addClass('selected');
	});
	$('#password').blur(function() {
		$('label[for="password"]').removeClass('selected');
	});
</script>
