<!--<head>-->
<!--<link rel="stylesheet" href="../public/animate.css">-->
<!--<link rel="stylesheet" href="../public/estilo_ejs.css">-->
<!--</head>-->
<!--<body>-->
<!--	<h1>Apuntes Sistemas y Tecnologías Web</h1>-->

<!--Insertar aquí lo de txt-->


<!---------------->
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Apuntes SYTW</title>

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="..public/animate.css">
	 <!--Custom Stylesheet -->
	<link rel="stylesheet" href="..public/estilo_ejs.css">
</head>



<body>
	<% if (!user) { %>
	<p>Welcome! Please <a href="/login">log in</a>.</p>
  <p>Bye Bye! <a href="/logout">log out</a>.</p>
<% } else { %>
	<p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
<% } %>
</body>
