<!--<head>-->
<!--<link rel="stylesheet" href="../public/animate.css">-->
<!--<link rel="stylesheet" href="../public/estilo_ejs.css">-->
<!--</head>-->
<!--<body>-->
<!--	<h1>Apuntes Sistemas y Tecnologías Web</h1>-->

<!--Insertar aquí lo de txt-->


<!---------------->
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Apuntes SYTW</title>

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="./public/animate.css">
	 <!--Custom Stylesheet -->
	<link rel="stylesheet" href="./public/estilo_ejs.css">
</head>



<body>
	<% if (!user) { %>
	<p>Bienvenido! Por favor, acceda al <a href="/login">log in</a>.</p>
  	<p>Si no posee una cuenta, por favor <a href="/registro">regístrese</a>.</p>
<% } else { %>
	
	<p>Hello, <%= user.username %> enjoy the <a href="https://alu0100836059.github.io/Apuntes_SYTW/">book</a>.</p>
<% } %>
</body>
