
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Apuntes SYTW</title>

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="./public/animate.css">
	 <!--Custom Stylesheet -->
	<link rel="stylesheet" href="./public/estilo_ejs.css">
</head>

<body>
	<% if (!user) { %>
	<h1 id="title" class="hidden"><span id="logo">Bienvenido a los <span>Apuntes de SYTW</span></span></h1>
	<br/><br/><br/><br/><br/>
		<div class="botones_reg animated fadeInUp">
			<!--<div class="box-header">-->
			<a href="/login">Log in</a>
			<!--</div>-->
		<!--</div>-->
		<!--<div class="login-box animated fadeInUp">-->
			<!--<div class="box-header">-->
			<a href="/registro">Registrarse</a>
			<!--</div>-->
		</div>
<% } else { %>
	<h1 id="title" class="hidden"><span id="logo"><span>Autenticación correcta</span></span></h1>
	<br/><br/><br/><br/><br/>
		<div class="botones_reg animated fadeInUp">
			<!--<div class="box-header">-->
			<!--<a href="/login">Log in</a>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="login-box animated fadeInUp">-->
			<!--<div class="box-header">-->
			<a id="acceso" href="https://alu0100836059.github.io/Apuntes_SYTW/">Apuntes SYTW</a>
			<!--</div>-->
		</div>
	<!--<p>Hello, <%= user.username %> enjoy the <a href="https://alu0100836059.github.io/Apuntes_SYTW/">book</a>.</p>-->
<!--<% } %>-->
</body>
